<br>
<div id="user-<%= user.id %>" class="row">
  <div class="col-lg-8">
    <%= user_avatar(user) %>
    <h5 class="name"><%= link_to user.full_name, user %></h5>
  </div>
  <div class="col-lg-4">
    <div class="follow">
      <%= render 'follows/form', user: user %>
    </div>
  </div>
</div>
<br>