.activity-post, .post {
  .content {
    margin-left: 60px;
    padding: 5px 15px;
    .text {
      font-size: 18px;
    }

    .attachment {
      margin-top: 10px;
      img {
        width: 100%;
      }
    }
  }
}